@mixin align($jcontent) {
    display: flex;
    justify-content: $jcontent;
    align-items: center;
}

.footer {
    background-color: #ff1e00;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    font-size: 14px;
    color: #6f1c3c;

    .footer__left {
        margin-right: 2rem;

        .footer__links {
            @include align(space-between);
            padding: 1rem;
            a {
                color: inherit;
                text-decoration: none;
                padding: 1rem;
            }
        }
    }

    .footer__right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .footer__copyright {
            @include align(center);
            padding: 10px;
        }

        .footer__develop {
            @include align(flex-end);
            padding-right: 2rem;
        }
    }
}
