.nav {
    $height: 40px;
    $fontsize: 18px;

    height: $height;
    background-color: #ccc;
    display: block;

    .nav__container {
        height: $height;
        display: flex;
        justify-content: space-between;
        margin: 0 300px;

        .nav__item {
            display: inline-flex;
            align-items: center;
            padding-right: 3rem;
            padding-left: 3rem;
            color: #fff;
            font-size: $fontsize;
            cursor: pointer;
            height: $height;

            &:hover {
                background-color: rgb(138, 133, 133);
            } 
        }

        .active {
            background-color: rgb(180, 176, 149);
        }
    }
}