.nav {
    $height: 40px;
    $fontsize: 18px;
    background-color: #ee3b80;
    display: flex;
    justify-content: space-between;

    .nav__item {
        display: inline-flex;
        align-items: center;
        padding-right: 3rem;
        padding-left: 3rem;
        color: #6f1c3c;
        font-weight: 600;
        font-size: $fontsize;
        cursor: pointer;
        height: $height;

        a,
        a:visited {
            color: none;
            background-color: inherit;
            height: $height;
        }
        

        &:hover {
            background-color: #a52959;
            height: $height;
        }
        // a:active {
        //     background-color: #ee6b9e;
        //     height: $height;
        // }
    }
}
