.pop-category {
    background-color: #248f40;
    height: 400px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-auto-flow: dense;

    .pop-category__main {
        grid-column: span 1;
        grid-row: span 2;
        padding: 20px;
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    .pop-category__minor {
        grid-column: span 1;
        grid-row: span 1;
        padding: 20px;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
